<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title>collabConnect</title>
  </head>
  <body>
    <section class="backgroudStyle">
      <h1 class="headerMargin">collabConnect</h1>
    <section class="sectSlim">
      <nav>
        <ul>
          <!-- not needed for now. -->
          <!-- <li class="navLinks"><a href="#"><h2><i class="fa fa-user"></i> [user account]</h2></a></li> -->
          <!-- never figured out how to set up friends but I will work on that post cohort -->
          <!-- <li class="navLinks"><a href="#"><i class="fas fa-user-friends"></i> Friends</a></li> -->
          <li class="navLinks"><a href="/profile"><i class="fas fa-envelope"></i> Global Chat</a></li>
          <li class="navLinks"><a href="/feed"><i class="fas fa-globe"></i> Find Collab</a></li>
          <!-- <li class="navLinks"><a href="#"><i class="fas fa-envelope"></i> Find Producers</a></li> -->
          <li class="navLinks"><a href="/updateprofile"><i class="fas fa-cogs"></i> Update Profile</a></li>
          <li class="navLinks"><a href="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
        </ul>
      </nav>
    </section>
    <section class="sectWide">
      <!-- <form class="" action="/messages" method="post">
        <label for="">Find your next collab!</label>
        <input type="text" name="msg" >
        <button type="button" name="button">Submit</button>
      </form> -->
      <h2 class="headerMargin">Find Artists to work with</h2>
      <ul class="messages">
      <% for(var i=0; i<messages.length; i++) {%>
        <li class="message">
          <a href="/feed/<%= messages[i]._id %>">
          <span><img class ="profileImg" src="/<%= messages[i].profileImage %>" alt=""></span>
          <span class="profileInfoText">Name: <%= messages[i].local.stageName %></span>
          <span class="profileInfoText"><%= messages[i].local.rapper %></span>
          <span class="profileInfoText">Location: <%= messages[i].local.city %></span>
          <span class="profileInfoText">About me: <%= messages[i].local.aboutUser %></span>
          <!-- <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
          <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span> -->
          <!-- <span><i class="fa fa-trash" aria-hidden="true"></i></span> -->
        </a>
        </li>
      <% } %>
      </ul>

    </section>
    </section>
    <script src="main.js"></script>
  </body>
</html>
