<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/main1.css">
    <link rel="stylesheet" href="/thaRealMain.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title>collabConnect</title>
  </head>
  <body>
    <%- include('navLayout'); -%>
    <h3 class="chatHeader">Post anything. music, videos, shout outs, ANYTHING.</h3>

    <form class="chatForm" action="/messages" method="post">
      <label for="">post something for ALL collabConnect users to see!</label>
      <input type="text" name="msg" >
      <button type="button" name="button">Submit</button>
    </form>
   <!-- just a test to see if I could get an image to show up -->
    <!-- <img src="<%= user.profileImage %>" alt=""> -->
    <ul class="messages">
    <% for(var i=0; i<messages.length; i++) {%>
      <li class="message">
        <span><%= messages[i].user %></span>
        <span><%= messages[i].msg %></span>
        <span><%= messages[i].thumbUp %></span>
        <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
        <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
        <span><i class="fa fa-trash" aria-hidden="true"></i></span>
      </li>
    <% } %>
    </ul>
          <!-- <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
          <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span> -->
          <!-- <span><i class="fa fa-trash" aria-hidden="true"></i></span> -->

    <script src="/main.js"></script>
    <script src="/js/jquery.min.js"></script>
  	<script src="/js/jquery.dropotron.min.js"></script>
  	<script src="/js/browser.min.js"></script>
  	<script src="/js/breakpoints.min.js"></script>
  	<script src="/js/util.js"></script>
  	<script src="/js/main.js"></script>
  </body>
</html>
