<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include('navLayout'); -%>
    <span class="updateProfileInfoText"><img class ="profileImg" src="/<%= user.profileImage %>" alt=""></span>
    <span class="updateProfileInfoText">Name: <%= user.local.stageName %></span>
    <span class="updateProfileInfoText"><%= user.local.rapper %></span>
    <span class="updateProfileInfoText">Location: <%= user.local.city %></span>
    <span class="updateProfileInfoText">About me: <%= user.local.aboutUser %></span>
    <!-- <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
    <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span> -->
    <!-- <span><i class="fa fa-trash" aria-hidden="true"></i></span> -->
    <form action="/up" enctype="multipart/form-data" method="POST">
      <label for="">Change Profile Image</label>
      <input type="file" name="file-to-upload" value="">
      <input type="submit" name="" value="Upload">
    </form>
    <% if (!posts) { %>
      <form class="" action="/upSong" enctype="multipart/form-data" method="POST">
        <label for="">Upload a Song(mp3 format!)</label>
        <input type="file" name="song" value="">
        <input type="submit" name="" value="Upload1">
      </form>
      <% } %>
      <% if (posts) { %>
        <span>
          <audio controls>
            <source src="/<%= posts.profileSong %>" type="audio/mpeg">
            </audio>
          </span>
          <% } %>

          <%- include('footerLayout'); -%>    
  </body>
</html>
